.gallery-container {
    width: 90%;
    max-width: 1900px;
    margin: 0 auto;
    padding-top: 64px;
    flex: 0 1 auto;
}

.gallery-container:after {
    content: '';
    display: block;
    clear: both;
  }

.gallery-sizer,
.gallery-item {
    /* 自定义css覆盖width改变大小 */
    width: 30%;
    min-width: 300px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.gallery-item--little1 {
    width: 20%;
}

.gallery-item--little2 {
    width: 10%;
}

.gallery-item--large1 {
    width: 40%;
}

.gallery-item--large2 {
    width: 60%;
}

.gallery-item {
    float: left;
}

.gallery-item > img {
    display: block;
    max-width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.gallery-item > img:hover {
    filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
}

.gallery-footer-margin {
    margin-top: 60vh;
}

@media (max-width: 1100px) {
    .gallery-item {
        min-width: 600px;
    }
    .gallery-footer-margin {
        margin-top: 70vh;
    }
}

@media (max-width: 600px) {
    .gallery-item {
        min-width: 350px;
    }
}