/**
 * .______    __    __       ___        ______
 * |   _  \  |  |  |  |     /   \      /  __  \
 * |  |_)  | |  |__|  |    /  ^  \    |  |  |  |
 * |   _  <  |   __   |   /  /_\  \   |  |  |  |
 * |  |_)  | |  |  |  |  /  _____  \  |  `--'  |
 * |______/  |__|  |__| /__/     \__\  \______/
 * 
 * Sweet Setting
 * 
 * @author Bhao
 * @link https://bhmo.cn
 * @version 0.0.8
 * @date 2019-08-02
 */

 .typecho-option-tabs,.typecho-page-title,.typecho-foot{
  display: none!important;
}
.container {
  width: 1050px;
  margin: 0 auto;
  flex: 1 0 auto;
  padding-left: 0px;
  padding-right: 0px;
}
@media (max-width: 1100px){
  .container {
    width: 90%;
  }
}
.sweet-setting-container {
  color: #FFFFFF;
}
.sweet-setting-notice {
  padding: 0px 40px 5px 40px;
  color: #FFFFFF;
}
.sweet-setting-table {
  width: 100%;
  margin: 0 auto;
}
.mdui-table-fluid {
  border-right:5px solid #ff4081!important;
  border-left:5px solid #ff4081!important;
}
.mdui-typo a{
  display: inline;
  vertical-align: baseline;
}